* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-weight: 400;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #171718;
}

.Navigation {
  color: #a7a7a7;
  padding: 3.4rem 4rem;
  border-bottom: 0.05rem solid #323232;
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar > a:link,
.Navbar > a:visited {
  color: #a7a7a7;
  text-decoration: none;
}
.Navbar > a:hover,
.Navbar > a:active {
  color: #898888;
  text-decoration: underline;
}
.dev-img {
  height: 4rem;
}
.Navbrand {
  display: flex;
  align-items: center;
}
.Hero {
  padding: 10rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a7a7;
}
.Hero-textbox {
  font-size: 1.8rem;
}
.hero-summary {
  max-width: 49.5rem;
}
.hero-title {
  font-size: 16rem;
  font-weight: 500;
  /* line-height: 16.7rem; */
}
.Hero-footer {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  border-top: 0.05rem solid #323232;
  justify-content: space-between;
  padding: 5rem 4rem;
  color: #a7a7a7;
}
.Hero-footer-links {
  display: flex;
  gap: 3.2rem;
}
.github-link:link,
.github-link:visited,
.twitter-link:link,
.twitter-link:visited,
.linkedin-link:link,
.linkedin-link:visited {
  color: #a7a7a7;
  text-decoration: none;
  transition: color 0.3s;
}

.github-link:hover {
  color: #24292f;
}
.twitter-link:hover {
  color: #1d9bf0;
}
.linkedin-link:hover {
  color: #0077b5;
}

.Hero-textbox > span {
  min-width: 10.1rem;
  line-height: 2.8rem;
  font-size: 1.8rem;
  padding-top: 3rem;
}

.Hero-info > h1 {
  font-size: 12.8rem;
  line-height: 16.3rem;
}
.Hero-info > P {
  margin-bottom: 4rem;
  max-width: 69rem;
}
.Hero-btn:link,
.Hero-btn:visited {
  color: #a7a7a7;
  text-decoration: none;
  overflow: hidden;
}
.arrow-container {
  position: relative;
  overflow: hidden;
  margin-left: 1rem;
}
.dropdown-arrow {
  animation: translateDown 0.3s infinite;
  position: absolute;
  top: 40%;

  left: 50%;
  /* transform: translate(-50%, -50%); */
}
.arrow-top {
  /* top: -0.5rem; */
  /* transform: translate(0); */
  animation: translateUp 1s infinite;
}
.arrow-down {
  animation: translateDown 1s infinite;
}

.CV-btn:link,
.CV-btn:visited {
  padding: 1rem 1.2rem;
  color: #a7a7a7;
  border: 0.05rem solid #a7a7a7;
  /* border-image-source: linear-gradient(
    97.71deg,
    #a7a7a7 21.54%,
    rgba(103, 103, 103, 0.12) 51.37%
  ); */
  /* border-image-slice: 1; */
  /* border-image-repeat: stretch; */
  border-radius: 4.1rem;
  text-decoration: none;
}
.scroll-text {
  font-size: 12.8rem;
  color: #a7a7a7;
  opacity: 0.05;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.scroll-text:hover {
  animation-play-state: paused;
}
.scroll-text span {
  min-width: 200.4rem;
  width: 100%;
  animation: sliderText 20s linear infinite;
}
.scroll-text span:hover {
}
@keyframes sliderText {
  100% {
    transform: translateX(-100%);
  }
}

.Hero .main {
  min-height: 100vh;
  color: #171718;
}
.Project {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 0.05rem solid rgba(21, 21, 21, 0.22);
}
.Project-name {
  font-size: 8rem;
  text-transform: uppercase;
}
.project-tools {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 2.3rem;
}
.Project-description {
  max-width: 49.5rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.view-btn:link,
.view-btn:visited {
  border: 0.1rem solid #e5e5e5;
  border-radius: 2.7rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #171718;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem 5rem;
  color: #fff;
  background-color: #171718;
  width: 100%;
}
.footer-heading-text {
  margin-bottom: 2rem;
}
.footer-bold-text {
  font-size: 12.8rem;
  text-transform: uppercase;
  color: #a7a7a7;
  opacity: 0.05;
  margin-bottom: 3rem;
}
.drop-msg-btn {
  font-size: 1.8rem;
  padding: 1rem 1.6rem;
  color: #fff;
  margin: 0 auto;
  border: none;
  margin-bottom: 12.7rem;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 41px;

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px;
  border-image: linear-gradient(
      97.71deg,
      #a7a7a7 21.54%,
      rgba(103, 103, 103, 0.12) 51.37%
    )
    1;
  border-radius: 41px;
}
.mail-link:link,
.mail-link:visited {
  /* color: #898888; */
  color: #a7a7a7;
  text-decoration: none;
}
.footer-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .Project {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  pointer-events: none;
  transition: 0.3s all;
} */
.scroll-animation {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  width: 100%;
  pointer-events: all;
}
